@import "./../../../style/main.scss";

.#{$prefix}-text-input {
    height: 42px;
    width: calc(100% - 40px);
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    padding: 0 20px 0 20px;
    font-size: 14px;
    outline: none !important;
    color: $text-color;
    background-color: $white-color;

    &:focus {
        border-width: 3px;
        width: calc(100% - 44px);
    }

    &::placeholder {
        font-size: 14px;
        color: $placeholder-color;
    }
}